<a href="https://colab.research.google.com/github/forestser/Pyhton/blob/main/team.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
import pandas as pd

In [35]:
cl1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,None]
cl2 = [1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,None]
cl3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
cl4 = [1,2,3,4,5,6,7,10,11,12,13,14,15,17,None,None]
print(len(cl1))
print(len(cl2))
print(len(cl3))
print(len(cl4))

16
16
16
16

In [17]:
cl1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0]

In [42]:
random.shuffle(cl1)
random.shuffle(cl2)
random.shuffle(cl3)
random.shuffle(cl4)

In [43]:
df = {'1반' : cl1, '2반' : cl2,'3반' : cl3, '4반' : cl4}
df1 = pd.DataFrame(df, dtype = int)
df1

      1반    2반  3반    4반
0      4    14   3     5
1     14     6  13  None
2      1    15   8    15
3      5    12   2     1
4      2     5   6    10
5     10     9  16     7
6     11     4  12    12
7      8     3   1    13
8   None    11   5     4
9      3     1   9    14
10    13     7   7    11
11     7  None   4     3
12     9     2  14    17
13     6    13  15  None
14    12    10  11     6
15    15    16  10     2